@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&family=Poppins:wght@300&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    margin: 0 10vw 0 10vw;
    padding: 0;
}

.card{
    box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06);
    border-radius: 10px;
    padding: 20px;
}

.card input{
    background-color: gainsboro;
    border: none;
    border-radius: 2px;
    padding: 5px;
}